/JSF/jsfDemo/jsfDemo/nbproject/private/
/JSF/jsfDemo/jsfDemo/build/
/JSF/jsfDemo/jsfDemo/dist/
/JSF/jsfDemoCompleted/jsfDemo/nbproject/private/
/JSF/jsfDemoCompleted/jsfDemo/build/
/AllInOneConverter/AllInOneConverter/nbproject/private/
/AllInOneConverter/AllInOneConverter/build/
/Java/HelloWorld/nbproject/private/
/Java/HelloWorld/build/
/Java/MyWebApp/nbproject/private/
/Java/MyWebApp/build/